<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#">EC<sup>3</sup> Task Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href='/projects'>My Projects</a>
      </li>
    </ul>
    {{#if userId}}
    <span class="danger mr-2"> Hi, {{name}}</span>
    <form action="/auth/logout" method="post">
      <button type="submit" class="nav-item btn btn-danger">Log out</button>
    </form>
    {{/if}}
  </div>
</nav>