<!doctype html>
<html>

<head>
  <title>Task Management System</title>
  <link href="/css/styles.css" rel="stylesheet">

</head>

<body>
  <div id="header">
    <div id="logo">
    </div>
  </div>
  <div id="wrapper">
    {{{body}}}
  </div>
</body>

</html>
