<!-- NAV BAR -->
{{> navbar_partial}}
<!-- NAV BAR -->

<br />
<div class="container">
  <div class="page-header">
    <h1>My Tasks</h1>
  </div>
  <hr/>
  {{> task_search_form_partial}}
</div>

<!-- DISPLAY MY CURRENT TASKS/SUBTASKS -->
<p></p>
<div class="container">
  <h2>Current Tasks</h2>
  <p></p>
  <table class="table table-striped">

    <thead class="thead-dark">
      {{> tasks_table_head_partial}}

    <tbody>
      {{#each currenttasks}}
      {{> tasks_table_body_partial}}
      
      {{/each}}
    </tbody>

  </table>
</div>


<!-- DISPLAY MY PAST TASKS/SUBTASKS -->
<div class="container">
  <h2>Past Tasks</h2>
  <p></p>
  <table class="table table-striped">
  {{> tasks_table_head_partial}}
   
    <tbody>
      {{#each pasttasks}}

      {{> tasks_table_body_partial}}
      
      {{/each}}
    </tbody>

  </table>
</div>