<!-- NAV BAR -->
{{> navbar_partial}}
<!-- NAV BAR -->

<br />
<div class="container-cus">
  <div class="page-header">
    <h1>Project {{project.Project_Name}}</h1>
    <!--Hide The Add Task button if user is not owner -->
    {{#if project.is_owner}}
      <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm2-new">
        Add Task
      </button>
    {{/if}}
  </div>

  {{> add_task_form_partial}}

  <hr/>
  {{> task_search_form_partial}}
</div>

<!-- DISPLAY TASKS -->
<p></p>
<div class="container-cus">
  <div class="row justify-content-between">
    <div class="col-4">
      <h2>Tasks for This Project</h2>
    </div>
    <div class="float-right">
      <a href="/projects/"> 
            <button type="button" class="btn btn-success">
              Return to Projects
            </button>
          </a>
    </div>
  </div>
  <p></p>
  {{> project_info_partial}}
  {{> tasks_table_partial}}
</div>
<!-- DISPLAY TASKS -->
