<div>
	<h1>Join Today</h1>
	<h5>Enter your name, email, and password to get started today</h5>

	<form action="/add-new-user" id="sign_up_form">
		<label>Name*</label>
		<input name="name" placeholder="Enter Your Name" id="userName" type="text" required/>
		<label>Email*</label>
		<input name="email" placeholder="Enter Your Email" id="userEmail" type="email" required/>
		<label>Password*</label>
		<input name="password" placeholder="Enter A Password" id="userPassword" type="password" required/>
		<input class="button button-block" type="submit" value="Sign Up" />
	</form>
</div>
