body {
  background-color: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #525151;
}

.container-cus {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-cus {
    width: 90%;
    min-width: 768px;
  }
}

@media (min-width: 992px) {
  .container-cus {
    width: 80%;
    min-width: 892px;
  }
}

@media (min-width: 1200px) {
  .container-cus {
    max-width: 1140px;
  }
}

/*
@media (min-width: 576px) {
  .container-cus {
    max-width: 540px;
  }
}*/

/* Header */
.user-profile {
  color: white;
  top: 0.25rem;
  position: relative;
}

.user-profile-div {
  background-color: #FF6A01;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.nav-item.active.hidden {
  display: none;
}

@media (max-width: 991px) {
  .nav-item.active.hidden {
    display: block;
  }
  .user-profile-div {
    display: none;
  }
}

/* Links inside the dropdown list */
.dropdown-content a, 
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button {
  border: none;
  width: 100%;
}

.dropdown-content a:hover, 
.dropdown-content button:hover { 
  background-color: #ddd; 
  text-decoration: none !important;
  color: black !important;
}


.dropdown:hover .dropdown-content {
  display: block;
}
/* End Header */

/* sign up page CSS */
#danger, .danger {
  color: #FF6A01;
}

#sign-up-page h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  margin: 14px 0;
}

#sign-up-page label {
  margin: 10px 0;
  display: block;
}

#sign-up-page input {
  background: none;
  border: 1px solid #808080;
  border-radius: 0px;
  width: 100%;
  padding: 10px;
}

#sign-up-page ul li {
  margin-bottom: 8px;
}

#sign_up_form {
  margin: 2% 5%;
}

#sign_up_form .input-group:last-of-type {
  margin-bottom: 30px;
}

#sign-up-page .button.button-block {
  background: #fcbd01;
  border-color: #fcbd01;
  color: #fff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
  letter-spacing: 1px;
}

#sign-up-page .login-section {
  background-color: #fcbd01;
  padding: 2%;
}

#sign-up-page .login-section h5 {
  text-transform: uppercase;
  padding: 0% 2%;
  color: white;
  text-align: center;
}

#sign-up-page .login-section .button.button-block{
  width: 100%;
  border: 2px solid white;
  background: transparent;
}
#sign-up-page .button.button-block:hover {
  background: #fcb101;
  border-color: #fcb101;
}


#sign-up-page .float-left {
  width: 48%;
  padding-top: 2%;
}

#sign-up-page .float-right {
  width: 48%;
  padding-top: 2%;
}

#sign-up-page #userPassword {
  margin-bottom: 14px;
}

#sign-up-page ul {
  list-style-type: none;
}

#sign-up-page li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #fcbd01;
  }

#sign-up-page .form-content h1 {
  margin: 2% 5%;
}

#sign-up-page .form-content .header {
  font-size: 17px;
  font-weight: 200;
  margin: 2% 5%;
}

#sign-up-page a {
  color: white;
  text-decoration: underline;
}

#sign-up-page .form-content {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #808080;
  max-width: 540px;
  min-width: 360px;
}

/* login page CSS */
#login-page #danger {
  color: red;
}

#login-page * {
  box-sizing: border-box;
}

#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-page .form-content {
  width: 50%;
  max-width: 600px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #808080;
  padding: 2%;
}

#login-page label {
  margin: 10px 0;
  display: block;
}

#login-page input {
  background: none;
  border: 1px solid #808080;
  border-radius: 0px;
  width: 100%;
  padding: 10px;
}

#login-page .button.button-block {
  display: block;
  margin-top: 20px;
  background: #fcbd01;
  border-color: #fcbd01;
  color: #fff;
  font-size: 0.9em;
  font-weight: 900;
  letter-spacing: 1px;
}

#login-page .login-section {
  color: #FFB703;
}

.go-back-link {
  margin-bottom: 0px;
}

#login-page .button.button-block:hover {
  background: #fcb101;
  border-color: #fcb101;
}

#login_form .input-group:last-of-type {
  margin-bottom: 30px;
}

/* reset page CSS */
#reset-page #danger {
  color: red;
}

#reset-page *, 
#forgot-page * {
  box-sizing: border-box;
}

#reset-page, 
#forgot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#reset-page .form-content, 
#forgot-page .form-content {
  width: 50%;
  max-width: 600px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #808080;
  padding: 2% 5%;
}

#reset-page label, 
#forgot-page label {
  margin: 10px 0;
  display: block;
}

#reset-page input, 
#forgot-page input {
  background: none;
  border: 1px solid #808080;
  border-radius: 0px;
  width: 100%;
  padding: 10px;
}

#reset-page .button.button-block,
#forgot-page .button.button-block {
  display: block;
  margin-top: 20px;
  background: #fcbd01;
  border-color: #fcbd01;
  color: #fff;
  font-size: 0.9em;
  font-weight: 900;
  letter-spacing: 1px;
}

#reset-page .button.button-block:hover, 
#forgot-page .button.button-block:hover {
  background: #fcb101;
  border-color: #fcb101;
}

#reset_form .input-group:last-of-type, 
#forgot-page .input-group:last-of-type {
  margin-bottom: 30px;
}

#login-page .login-section a, 
#forgot-page a, #reset-page a {
  color: #FFB703 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

/* buttons */

.btn.btn-primary {
  background: #fcbd01;
  border-color: #fcbd01;
}

.btn.btn-primary:hover {
  background: #fcb101;
  border-color: #fcb101;
}
.btn.btn-danger {
  background: #FF7D00;
  border-color: #FF7D00;
}

.btn.btn-danger:hover {
  background: #FF6A01;
  border-color: #FF6A01;
}

.btn.btn-success {
  background: #FFD302;
  border-color: #FFD302;
}

.btn.btn-success:hover {
  background: #FFB703;
  border-color: #FFB703;
}


.table td, .table th {
  padding: 0.4em !important;
}

.table .thead-dark th {
  border-color: #343a40 !important;
}


.table.split {
  border-top: 4px solid #fcbd01;
}

/* page header */
.page-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.page-header button {
  margin-left: 15px;
}

/* search form */
.search-form .form-row {
  align-items: center;
}

.search-form label {
  margin: 10px;
}

.search-form input, .search-form select {
  display: inline-block;
  width: auto;
}

/* Profile Page */
.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.profile-page .user-profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-page .user-profile-header .user-profile-div {
  background-color: #FF6A01;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  text-align: center;
}

.profile-page .user-profile-header .user-profile, 
.profile-page .user-profile-header  .user-name {
  font-size: 2.5rem;
}

.profile-page .user-profile-header {
  margin-bottom: 2rem;
}

.profile-page .profile  {
  display: flex;
  width: 50rem;
  border-radius: 10px;
  border: 1px solid #808080;
}

.profile-page .profile form {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 3rem;
}

/* End Profile Page */
